<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Thanks for registering for Onslaught, <%= @registrant_group[0].name %>!</h1>
<p>
  You registered for the following systems:
</p>
<ul>
<% @registrant_group.each do |registrant| %>
  <li><%= "#{registrant.system.title} - #{registrant.system.descriptive_date}"  %></li>
<% end %>
</ul>
<p>For further information please go here:</p>
<%= link_to(info_url, info_url) %>
<p><b>Receipt:</b> you should receive a receipt email directly from paypal. If you do not, please reply to this email.</p>
</body>
</html>