<tr>
  <td><%= registrant.name %></td>
  <td><%= registrant.email %></td>
  <td><%= link_to 'edit', edit_registrant_path(registrant) %>
  | <%= link_to "delete", registrant, method: :delete, data: { confirm: "You sure?" } %>
  </td>
</tr>