<% provide(:title, 'Create Player') %>
<% provide(:button_text, 'Create Player') %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Create Player</h1>
    <%= render 'form' %>
  </div>
</div>