<% provide(:title, 'Tickets') %>
<% provide(:meta_description, t('seo.tickets')) %>
<% unless @tickets.nil? %>
  <!-- TODO: sort by day -->
  <% @tickets.in_groups_of(3) do |ticket_group| %>
    <div class="row">
      <% ticket_group.each do |ticket| %>
        <%= render :partial => 'ticket', :locals => {:ticket => ticket} unless ticket.nil? %>
      <% end %>
    </div>
  <% end %>
<% end %>
