<h2><%= @system.title %></h2>
<ul class="nav nav-tabs">
  <% (1..@system.rounds).each do |round| %>
    <li class="<%= round == @round_number ? 'active' : '' %>" role="presentation">
      <%= link_to "Round #{round}", system_path(@system.id, { round: round }), class: "btn btn-default"%>
    </li>
  <% end %>
</ul>

<%= render 'round' %>
