<h2><%= @system.title %></h2>
<ul class="nav nav-tabs">
  <% (1..@system.rounds).each do |round| %>
    <li role="presentation" class="active"><a href="#">Round <%= round %></a></li>
  <% end %>
</ul>
