<% provide(:title, 'Welcome') %>
<% provide(:meta_description, t('seo.home')) %>
<% unless Cohort.where(:active => true).blank? %>
  <%= link_to tickets_path, class: "banner-link" do %>
    <div class="sg-home tickets"><p>tickets</p></div>
  <% end %>
<% end %>
<div class="sg-spacer"></div>
<%= link_to info_path(id: 1), class: "banner-link" do %>
  <div class="sg-home info"><p>info</p></div>
<% end %>

<!--This is a dirty hack to get the vh to expand when scrolling down-->
<script>
    $(document).ready(function() {
        setHeight();
    });

    $( window ).on( "orientationchange", function( event ) {
        setHeight();
    });

    function setHeight () {
        setTimeout(function () {
            $('.container').css({height: window.innerHeight - 50});
        }, 250);
    }
</script>