<%= form_for(@info) do |f| %>
  <div class="well">
    <div class="form-group">
      <%= f.label :body %>
      <%= f.text_area :body, class: 'form-control wysiwyg-full-height' %>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="btn-group-vertical btn-block">
          <%= f.submit "Save info paragraph", class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
    $('.wysiwyg-full-height').froalaEditor({
        heightMin: 400
    });
</script>
