<% provide(:title, "Event Information") %>
<% provide(:meta_description, "Onslaught event information.") %>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <h1>Event Info</h1>
    <div class="btn-group-vertical btn-block button-pad-bottom">
      <% if Cohort.active.attachment_url.blank? %>
        <div class="btn btn-primary disabled">Player pack unavailable</div>
      <% else %>
        <%= link_to "Download player pack", Cohort.active.attachment_url, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <%= sanitize(@info.body) %>
  </div>
</div>

