<div class="footer">
  <div class="social-links">
    <%= link_to(image_tag("itc_logo.png", class: "hnic-icon"), "#{t("social_links.itc")}", class: "social-link") %>
    <%= link_to(sanitize("#{fa_icon("facebook")}"), "#{t("social_links.facebook")}", class: "social-link") %>
    <%= link_to(image_tag("hobbynight70.png", class: "hnic-icon"), "#{t("social_links.hnic")}", class: "social-link") %>
  </div>
</div>